# --- ENVIRONNEMENTS / SECRETS ---
.env
*.env
.env.*
.env.local
.env*.local
functions/.env
functions/env.local

# --- NODE / DEPENDANCES ---
node_modules/

# --- EXPO / RN ---
.expo/
.expo-shared/
expo-env.d.ts
dist/
web-build/

# --- IOS / ANDROID (générés automatiquement) ---
ios/
android/

# --- TYPESCRIPT ---
*.tsbuildinfo

# --- CACHE & BUILD ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# --- METRO ---
.metro-health-check*
*.cache

# --- IDE ---
.vscode/
.idea/

# --- PYTHON (si fichiers restants) ---
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
.mypy_cache/

# --- MACOS ---
.DS_Store

# --- JAVA / SIGNING KEYS ---
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# --- MISC ---
*.pem

# dependencies
functions/node_modules/
functions/package.json
functions/package-lock.json

scripts/serviceAccountKey.json


stripe/firebase-debug.log
firebase-debug.log
firebase-debug.*.log
